<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
          <img src="{{usuario.imagen}}" alt="">
        <div class="caption">
          <ul>
              <li>Nombre:{{usuario.nombre}}</li>
              <li>ID:{{usuario.id}}</li>
              <li>Apellido:{{usuario.apellido}}</li>
              <li>E-mail:{{usuario.email}}</li>
              <li>Sexo:{{usuario.sexo}}</li>
              <link rel="stylesheet" href="">
          </ul>  
        </div>
      </div>
      
    </div>
  
  </div>
