p{
    font-size:3em;
    text-align: left;
 }

.gluten{
    position: absolute;
   
        right:0px;
        top:0px;
        max-width: 20px;
        max-height: 20px;
        z-index: 50;
    }
    