<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="gluten" src="assets/img/gluten_free_icon.png" alt="">
      <img src="{{foto}}" alt="...">
      <div class="caption">
        <h3>{{nombre|uppercase}}</h3>

        <p>{{descripcion|slice:0:100}}</p>

        
        <span class="cocinero">{{cocinero}}</span>
        <span class="label label-primary" (click)= "sumarLike()">likes{{likes}}</span>
        <div class="container">
            <h2>Ingredientes</h2>
            <ul class="list-group">
              <li class="list-group-item">{{ingredientes[0]}}</li>
              <li class="list-group-item">{{ingredientes[1]}}</li>
              <li class="list-group-item">{{ingredientes[2]}}</li>
            </ul>
          </div>
        
      </div>
    </div>
  </div>
</div>