<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="gluten" src="assets/img/gluten_free_icon.png" alt="">
        <img src="{{receta.foto}}" alt="{{receta.nombre}}">
      <div class="caption">
        <h3>{{receta.nombre|uppercase}}</h3>
        

        <p>{{receta.descripcion|slice:0:100}}</p>

        
        <span class="cocinero">{{receta.cocinero}}</span>
        <span class="label label-primary" (click)= "sumarLike()">likes {{receta.likes}}</span>
        
        
      </div>
    </div>
    <section class="ingredientes">
      <h4 (click)="showIngredientes()">
        <span class="badge">{{receta.ingredientes.length}}</span>  Ingredientes
        <span class="glyphicon {{glyphicon}}" aria-hidden="true"></span>  
      </h4>
      <ol *ngIf="show" class="lista">
        <li *ngFor="let ingred of receta.ingredientes">
          {{ingred}}
        </li>

      </ol>
    </section>
  </div>

</div>